language: python
python:
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"

before_install:
 - sudo apt-get install hunspell

install:
  - pip install -e . --use-mirrors
  - pip install -r dev_requirements.txt
  - pip install python-coveralls

branches:
  only:
    - master
    - test

script:
  - doit
  - py.test
  - if [[ $TRAVIS_PYTHON_VERSION == '3.5' ]]; then coverage run `which py.test`; fi

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == '3.5' ]]; then coveralls; fi


notifications:
    email:
        on_success: change
        on_failure: change
